$("#{j render(partial: 'character_attributes/char_attr', locals: {attr: @character_attribute})}").appendTo(".character_attributes");

// removes info p tag if no attributes
$(".no-attr").remove();

$("#add-attribute").show();